<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">


  </head>

  <body>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Reddibility</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>





<div class="container">


      <h1>Reddibility</h1>
      <h3>Just the Q's and A's, none of the BS.</h3>

    

 


      <p class='lead'><br> Select your favorite aMa:</p>

<form action="/dropdown" method="Post">
    <select id="mySelect" name="mySelect" class="selectpicker span10" data-width="10%" size="20">>
        
    
        {% for titles in global_df['TITLE']%}
        <option>{{titles}}</option>
        {% endfor %}            
                                
        <!--
        <option>{{global_df['TITLE'][0]}}</option>
        <option>{{global_df['TITLE'][1]}}</option> 
        <option>{{global_df['TITLE'][2]}}</option>
        <option>{{global_df['TITLE'][3]}}</option>
        <option>{{global_df['TITLE'][4]}}</option>
        <option>{{global_df['TITLE'][5]}}</option>
        <option>{{global_df['TITLE'][6]}}</option>
        <option>{{global_df['TITLE'][7]}}</option>
        <option>{{global_df['TITLE'][8]}}</option>
        <option>{{global_df['TITLE'][9]}}</option>
        <option>{{global_df['TITLE'][10]}}</option>
        <option>{{global_df['TITLE'][11]}}</option>
        <option>{{global_df['TITLE'][12]}}</option>
        <option>{{global_df['TITLE'][13]}}</option>
        <option>{{global_df['TITLE'][14]}}</option>
        <option>{{global_df['TITLE'][15]}}</option>
        <option>{{global_df['TITLE'][16]}}</option>
        <option>{{global_df['TITLE'][17]}}</option>
        <option>{{global_df['TITLE'][18]}}</option>
        <option>{{global_df['TITLE'][19]}}</option>
        <option>{{global_df['TITLE'][20]}}</option>
        /!-->

    </select>
    
    <br>
    <input type="submit" value="Show me the top 5 Q and As">

</form>


</form>


